@media (max-width:768px){

    .hero h1{
        font-size:36px;
    }

    .hero-content{
        width:92%;
        padding:25px;
    }

    .features{
        grid-template-columns:1fr;
        padding:20px;
    }

    .complaint-container{
        width:95%;
        padding:20px;
    }

    #schemeSearch,
    #category,
    .btn,
    select{
        width:100%;
        max-width:100%;
    }

}