@media (max-width: 768px){

    .navbar{
        flex-direction: column;
        padding: 15px;
    }

    .nav-links{
        flex-direction: column;
        text-align: center;
        margin-top: 15px;
    }

    .nav-links li{
        margin: 10px 0;
    }

    .hero h1{
        font-size: 32px;
    }

    .hero-content{
        width: 95%;
    }

    .features{
        padding: 20px;
        grid-template-columns: 1fr;
    }

    .chat-container{
        width: 95%;
    }

    select{
        width: 100%;
        margin-bottom: 10px;
    }
}
@media (max-width: 768px){

    .navbar{
        flex-direction: column;
        padding: 15px;
    }

    .nav-links{
        flex-direction: column;
        align-items: center;
    }

    .nav-links li{
        margin: 10px 0;
    }

    .hero h1{
        font-size: 32px;
    }

    #schemeSearch,
    #category,
    .btn{
        width: 90%;
        max-width: 90%;
    }

}
@media (max-width: 768px) {

    .chat-controls{
        display: flex;
        flex-direction: column;
        gap: 10px;
        width: 100%;
    }

    .chat-controls button{
        width: 100%;
        padding: 12px;
        font-size: 16px;
    }

    #userInput{
        width: 100%;
        font-size: 16px;
    }

    .chat-container{
        width: 95%;
        margin: auto;
    }

}
@media (max-width: 768px) {

    .chat-box{
        height: 350px;
        width: 100%;
        overflow-y: auto;
        font-size: 14px;
    }

    .input-area{
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    #userInput{
        width: 100%;
        padding: 12px;
        font-size: 16px;
    }

    .chat-container{
        width: 95%;
        padding: 15px;
        margin: 20px auto;
    }
}
@media (max-width: 768px){

    .menu-toggle{
        display: block;
        background: white;
        border: none;
        font-size: 24px;
        padding: 5px 10px;
        border-radius: 6px;
        cursor: pointer;
        margin-top: 10px;
    }

    .nav-links{
        display: none;
        width: 100%;
    }

    .nav-links.show-menu{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}